.nav{
  display: flex;
  margin-left: 120px;
  margin-right: 200px;
  font-weight: bold;
}
.nav1{
  display: flex;
}
.nav2{
  display: flex;
 width: 250px;
  height: 60px;
  
}
.bikewala{
  display: flex;
  background-color:#F5DDC4;
  width: 180px;
  margin-left: 120px;
  margin-top: 40px;
  border-radius: 50px;
  height: 35px;
}
.part1{
  display: flex;
  margin-left: 120px;
  margin-right: 200px;
}

.part3{
  display: flex;
 margin-left: 110px;

}
.see-more{
  padding-left: 520px;
  width: 150px;
  margin-top: 20px;
  margin-bottom: 50px;
}
.part4{
  display: flex;
 
  margin-left: 120px;
  margin-right: 200px;
}
